# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Dev data dir (created on first container run)
.dev-data/
data/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Docker buildx temp
.buildx-cache/

# Test / build artifacts
coverage
.coverage
htmlcov/
dist/
